@import '@/lib/reset.scss';
* { touch-action: pan-y; }
html, body, #root, .container {
  @include rect(100%, 100%);
}

.container{
  @include flexbox();
  @include flex-direction(column);
  .box {
    @include flex();
    @include rect(100%, auto); 
    @include flexbox();
    @include flex-direction(column);
    .header {
      @include rect(100%, 0.44rem);
      @include background-color(#fff);
      ul {
        @include flexbox();
        @include rect(100%, 100%); 
        li {
          @include flexbox();
          @include flex-direction(column);
          @include justify-content();
          @include align-items();
          &:nth-child(1), &:nth-child(3) {
            @include rect(50px, 100%); 
          }
          &:nth-child(2) {
            @include flex();
          }
        }
      }
    }
    .content {
      @include flex();
      @include rect(100%, auto);
      @include overflow();
      .contentlist {
        float: left;
        @include flex();
        @include rect(25%, 100%);
        a {
          @include rect(100%, 60px);
          @include justify-content(center);
          @include align-items(center);
          display:block;
          border-right:1px solid rgb(214, 207, 207);
          border-bottom:1px solid rgb(214, 207, 207);
          display: flex;
          &.active{
            @include text-color(#f66);
          }
          &.hover{
            background: #f66;
          }
        }
      }
      .con {
        float: left;
        // @include flex();
        @include rect(75%, 100%);
        li{
          @include rect(100%, 40px);
          border-bottom:1px solid #999;
          line-height: 40px;
          span {
            margin-right:0.5rem;
          }
        }
      }
      li {
        list-style: none;
      }

      .nav {
        display: flex;
        width: 100%;
        height: 1rem;
        justify-content: space-around;
        align-items: center;
        padding: 2%;

        li {
          display: flex;
          width: 18%;
          height: 70%;
          align-items: center;
          justify-content: center;
          border: 1px solid #999;
          border-radius: 8px;
          color: #999;
          font-size: 16px;
        }
      }
      .tj {
        display: flex;
        width: 100%;
        height: 1.5rem;
        justify-content: space-between;
        padding: 0 5%;
        li {
          width: 49%;
          height: 80%;
          border: 1px solid #999;
          border-radius: 8px;
        }
      }

      .like {

        .youlike {
          
        }
      }
    }
  }
  .footer {
    @include rect(100%, 0.5rem);
    @include background-color(#efefef);
    ul {
      @include rect(100%, 100%);
      @include flexbox();
      a {
        @include flex();
        @include color(#333);
        @include rect(auto, 100%);
        @include flexbox();
        @include flex-direction(column);
        @include justify-content();
        @include align-items();
        span {
          @include font-size(24px);
        }
        p {
          @include font-size(12px);
        }

        &.active { 
          @include color(#f66);
          @include text-color(#f66);
        }
      }
    }
  }
}